<div>

  <section class="row">
    <div class="input-wrapper">
      <label>Date:
        <input maxlength='10' [value]="date" [(ngModel)]="date" (change)="changeDate(date)" />
      </label>
    </div>

    <div class="dropdown-wrapper">
      <label>Base Currency:
        <select [(ngModel)]="base" (change)="changeBase(base)">
          <option *ngFor="let option of baseDropDown">
            {{ option }}
          </option>
        </select>
      </label>
    </div>
  </section>

  <div class="container">
    <app-currency
      *ngFor="let rate of rates | keyvalue"
      [name]="rate.key"
      [value]="rate.value"
      class="items"
    >
    </app-currency>
  </div>

</div>
