<div>
  <app-header
    [base]="base"
    [endAt]="endAt"
    [baseDropDown]="baseDropDown"
  ></app-header>

  <div *ngIf="errShow; then errorBlock; else currencyBlock"></div>

  <ng-template #errorBlock>
    <app-error [message]="errorText"> </app-error>
  </ng-template>

  <ng-template #currencyBlock>
    <div class="container">
      <div *ngFor="let rate of rates | keyvalue" class="items">
        <a
          *ngIf="rate.key && rate.value"
          [routerLink]="['/currency', rate.key]"
          [state]="{ base: base, baseDropDown: baseDropDown, endAt: endAt }"
          class="item"
        >
          <div class="name-wrapper">
            <p>
              {{ rate.key }}
            </p>
          </div>

          <div class="value-wrapper">
            <p>
              {{ rate.value | currency: rate.key:"symbol-narrow":"1.2-2" }}
            </p>
          </div>
        </a>
      </div>
    </div>
  </ng-template>
</div>
