<header class="row">
  <div class="input-wrapper">
    <ng-template *ngIf="startAt; else dateBlock">
      <label>Start At:</label>
      <input
        type="date"
        [min]="'1999-01-01'"
        [max]="todayDate"
        [(ngModel)]="startAt"
        (change)="changeParams(startAt, endAt, base)"
      />

      <label>End At:</label>
      <input
        type="date"
        [min]="'1999-01-01'"
        [max]="todayDate"
        [(ngModel)]="endAt"
        (change)="changeParams(startAt, endAt, base)"
      />
    </ng-template>

    <ng-template #dateBlock>
      <label>Date</label>
      <input
        type="date"
        [min]="'1999-01-01'"
        [max]="todayDate"
        [(ngModel)]="endAt"
        (change)="changeParams(endAt, endAt, base)"
      />
    </ng-template>
  </div>

  <div class="dropdown-wrapper">
    <label
      >Base Currency:
      <select [(ngModel)]="base" (change)="changeParams(startAt, endAt, base)">
        <option *ngFor="let option of baseDropDown">
          {{ option }}
        </option>
      </select>
    </label>
  </div>
</header>
