<div>
  <app-header
    [base]="base"
    [startAt]="startAt"
    [endAt]="endAt"
    [baseDropDown]="baseDropDown"
  ></app-header>

  <div *ngIf="errShow; then errorBlock else historyBlock"></div>

  <ng-template #errorBlock>
    <app-error [message]="errorText">
    </app-error>
  </ng-template>

  <ng-template #historyBlock>
    <h1 class="text-center">{{ name }}</h1>
    <h3 class="text-center">Historical Values In Line Chart</h3>

    <app-chart
      *ngIf="lineChartLabels && lineChartData"
      [lineChartLabels]="lineChartLabels"
      [lineChartData]="lineChartData"
      [positive]="positive"
    ></app-chart>

    <h1 class="text-center">{{ name }}</h1>
    <h3 class="text-center">Historical Values In Table</h3>

    <table class="container">
      <thead>
        <th>Date</th>
        <th>Value</th>
      </thead>
        <tbody>
        <tr *ngFor="let rate of rates | keyvalue">
        <td>{{ rate.key | date:'mediumDate' }}</td>
        <td *ngFor="let r of rate.value | keyvalue">
          {{ r.value | number:'1.4-4' }}
        </td>
      </tbody>
    </table>
  </ng-template>

</div>
