@import "src/_colors.scss";

.text-center {
  text-align: center;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.6);

  h1 {
    margin-bottom: 0;
  }

  h3 {
    margin-top: 0;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  th,
  td {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
  }

  thead {
    th {
      background-color: rgba(85, 96, 143, 0.9);
      text-align: left;
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }

    td {
      position: relative;
      &:hover {
        &:before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: -9999px;
          bottom: -9999px;
          background-color: rgba(0, 0, 0, 0.3);
          z-index: -1;
        }
      }
    }
  }
}
