@import '../../../_colors.scss';

.value-wrapper, .name-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.value-wrapper {
  align-self: end;
  p {
    font-size: 30px;
    transform: translateY(0px);
    transition: all 0.6s;
  }
}

.name-wrapper{
  align-self: start;
  p {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 2px;
    transform: translateY(0px);
    transition: all 0.5s;
  }
}

.item {
  transition: all 0.5s;
  &:hover {
    & .name-wrapper p {
      transform: translateY(40px);
      color: $sec;
    }
    & .value-wrapper p {
      transform: translateY(-40px);
      color: $sec;
    }
  }
}
